.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* sidebar */
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #171D4B !important;

}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  background-color: #171D4B;
  color: white;
  font-size: 1.2vw !important;
}

#sidebar-wrapper .sidebar-heading .icon{
  font-size: 6vw !important;
  font-weight: 300;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group-flush a{
  background-color: #171D4B !important;
  color: white;
}

.list-group-item-action :hover{
  /* background-color: white; */
  color: #171D4B;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item-action {
  text-align: center;
  width: 218px;
  font-size: 0.9vw;
}

.filter-button button{
  background-color: #171D4B;
}

.filter-button button:hover{
  background-color: white;
  border: 1px solid #171D4B !important;
  color: #171D4B;
}

.filter-button button .link-filter{
  color: white;
}

.filter-button button .link-filter:hover{
  color: #171D4B;
}

form img{
  width: 50px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}